* {
  margin: 0;
  padding: 0;

}

html {


}

body {
  width: 100%; 
  min-height: 100%;
  background-image: url(../img/parchment.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;

  overflow-y: hidden;
}

.lyrics {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 100px;
  width: max-content
}    



.intro_english {
  display: flex;
  flex-direction: column;
  font-family: "Protest Revolution";
  margin-left: 500px;
  margin-right: 500px;

  font-size: 20px;
  text-align: center;

}

.bridge_japanese {
  display: flex;
  flex-direction: row;
  font-family: "Zen Old Mincho"; 
  align-items: center;
  justify-content: center;

  margin-left: 500px;
  margin-right: 500px;
  font-size: 25px;


}

.chorus_english {
  display: flex;
  flex-direction: column;
  font-family: "Protest Revolution";
  margin-left: 500px;
  margin-right: 500px;
  font-size: 20px;
  text-align: center;

}

.post_chorus_japanese {
  display: flex;
  flex-direction: row;
  font-family: "Zen Old Mincho";
  align-items: center;
  justify-content: center;
  margin-left: 500px;
  margin-right: 500px;
  font-size: 25px;

}

.post_chorus_english {
  display: flex;
  flex-direction: column;
  font-family: "Protest Revolution";
  margin-left: 500px;
  margin-right: 500px;
  font-size: 20px;
  text-align: center;

}

.credits {
  display: flex;
  flex-direction: column;
  font-family: "Protest Revolution";
  margin-left: 500px;
  margin-right: 500px;
  font-size: 50px;
  text-align: center;

}

.english_line1 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.english_line2 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.english_line3 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.english_line4 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.english_line5 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.english_line6 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.english_line7 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.english_line8 {
  padding-top: 25px;
  padding-bottom: 25px;
}




.japanese_line1 {
  padding-left: 100px;
  padding-right: 100px;

}


.japanese_line2 {
  padding-left: 100px;
  padding-right: 100px;
}

.japanese_line3 {
  padding-left: 100px;
  padding-right: 100px;
}


.japanese_line4 {
  padding-left: 100px;
  padding-right: 100px;
}

.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: center;
}

.animate {
  animation-duration: 1s;
  animation-fill-mode: both;

}

@keyframes characterDroplets {
  from {
    transform: translateY(-1000px);
  }

  to {
    transfrom: translateY(0);
  }
}

.droplets {
  animation-name: characterDroplets;
  animation-duration: 5s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-delay: 1s;

  transform: translateY(0px);
}

.droplets1 {
  animation-name: characterDroplets;
  animation-duration: 5.5s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-delay: 2s;

  transform: translateY(0px);
}

.droplets2 {
  animation-name: characterDroplets;
  animation-duration: 6s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-delay: 3s;

  transform: translateY(0px);
}

.droplets3 {
  animation-name: characterDroplets;
  animation-duration: 6.5s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-delay: 4s;

  transform: translateY(0px);
}

.droplets4 {
  animation-name: characterDroplets;
  animation-duration: 7s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-delay: 5s;

  transform: translateY(0px);
}

.droplets5 {
  animation-name: characterDroplets;
  animation-duration: 7.5s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-delay: 6s;

  transform: translateY(0px);
}

.droplets6 {
  animation-name: characterDroplets;
  animation-duration: 8s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-delay: 7s;

  transform: translateY(0px);
}

.droplets7 {
  animation-name: characterDroplets;
  animation-duration: 8.5s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-delay: 8s;

  transform: translateY(0px);
}

.droplets8 {
  animation-name: characterDroplets;
  animation-duration: 9s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-delay: 9s;

  transform: translateY(0px);
}

.droplets9 {
  animation-name: characterDroplets;
  animation-duration: 9.5s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-delay: 10s;

  transform: translateY(0px);
}

.droplets10 {
  animation-name: characterDroplets;
  animation-duration: 10s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-delay: 11s;

  transform: translateY(0px);
}

.droplets11 {
  animation-name: characterDroplets;
  animation-duration: 10.5s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-delay: 12s;

  transform: translateY(0px);
}

.droplets12 {
  animation-name: characterDroplets;
  animation-duration: 11s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-delay: 13s;

  transform: translateY(0px);
}

.droplets13 {
  animation-name: characterDroplets;
  animation-duration: 11.5s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-delay: 14s;

  transform: translateY(0px);
}

.droplets14 {
  animation-name: characterDroplets;
  animation-duration: 12s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-delay: 15s;

  transform: translateY(0px);
}

.droplets15 {
  animation-name: characterDroplets;
  animation-duration: 13s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-delay: 16s;

  transform: translateY(0px);
}

.droplets16 {
  animation-name: characterDroplets;
  animation-duration: 13.5s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-delay: 17s;

  transform: translateY(0px);
}

.droplets17 {
  animation-name: characterDroplets;
  animation-duration: 14s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-delay: 18s;

  transform: translateY(0px);
}

.droplets18 {
  animation-name: characterDroplets;
  animation-duration: 14.5s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-delay: 19s;

  transform: translateY(0px);
}

.droplets19 {
  animation-name: characterDroplets;
  animation-duration: 15s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-delay: 20s;

  transform: translateY(0px);
}

@keyframes wordClouds {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.cloud {
  animation: wordClouds 5s infinite ;
}

.cloud1 {
  animation: wordClouds 6s infinite ;
}

.cloud2 {
  animation: wordClouds 7s infinite ;
}

.cloud3 {
  animation: wordClouds 8s infinite ;
}

.cloud4 {
  animation: wordClouds 9s infinite ;
}

.cloud5 {
  animation: wordClouds 10s infinite ;
}

.cloud6 {
  animation: wordClouds 11s infinite ;
}

.cloud7 {
  animation: wordClouds 12s infinite ;
}

.cloud8 {
  animation: wordClouds 13s infinite ;
}

@keyframes windClouds {
  from {
    transform: translateX(-1000px);
  }
  100% {
    opacity: 0;
  }


  to {
    transfrom: translateX(0);
  }
  0% {
    opacity: 1;
  }

}

.passingCloud {
  animation: windClouds 6s infinite;
}

.passingCloud1 {
  animation: windClouds 7s infinite;
}

/*
.blood {
  background-image: linearGradient(to left,#880808, #800020,	#8B0000, #770737, #A42A04	);
  -webkit-background-clip: text;
  animation: bloody 5s linear infinite;
}

@keyframes bloody{
  0%{
    background-position: 0 100%;
  }
  50%{
    background-position: 100% 0;
  }
  100%{
    background-position: 0 100%;
  }
}


#english_line3 h2 onhover {
  color: red;
}

*/

.blood {
  color:black;
  animation: bloody 7s infinite alternate;
}

@keyframes bloody {
  0% {
    color: black;
  }
  100% {
    color: red;
  } 
}

.sun {
  color:black;
  animation: sunny 7s infinite alternate;
}

@keyframes sunny {
  0% {
    color: black;
  }
  100% {
    color: goldenrod;
  } 
}